{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="row">
    {% for book in books %}
    <div class="col-md-4">
        <div class="card mb-4">
            <img class="card-img-top" src="{{ book.image.url }}" alt="{{ book.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">{{ book.desc|truncatewords:20 }}</p>
                <a href="{% url 'book_detail' book.id %}" class="btn btn-primary">Read More</a>
                <a href="{% url 'add_to_cart' book.id %}" class="btn btn-success">Add to Cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}