{% extends "base.html" %}
{% block body %}
<div class="container mt-4">
    <div class="row">
      {% for book in books %}
        <div class="col-md-4">
          <div class="card mb-4">
            <img class="card-img-top" src="{{ book.image.url }}" alt="{{ book.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ book.title }}</h5>
              <p class="card-text">{{ book.desc }}</p>
              <a href="{% url 'read_book' book.id %}" target="_blank" class="btn btn-primary">Read</a>
              <a href="{{ book.file.url }}" download class="btn btn-secondary">Download</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock body %}