{% extends "base.html" %}
{% block body %}
<h1>Placed Orders</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">User</th>
                <th scope="col">Address</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <th scope="row">{{ order.id }}</th>
                <td>{{ order.user.username }}</td>
                <td>{{ order.address.address }}</td>
                <td>{{ order.total }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}