{% extends "base.html" %}
{% block body %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-6">
            <h2>Authors</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Bio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for author in authors %}
                    <tr>
                        <td>{{ author.name }}</td>
                        <td>{{ author.bio }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Books</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h2>Authors and Books</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Author Name</th>
                <th>Author Bio</th>
                <th>Book Title</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            {% for book in author.books.all %}
            <tr>
                <td>{{ author.name }}</td>
                <td>{{ author.bio }}</td>
                <td>{{ book.title }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container mt-4">
    <h2>Authors and Books</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Author Name</th>
                <th>Author Bio</th>
                <th>Book Title</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            {% for book in books %}
            {% if book.author == author %}
            <tr>
                <td>{{ author.name }}</td>
                <td>{{ author.bio }}</td>
                <td>{{ book.title }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}