{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="container my-5">
    {% for product in products %}
    <div class="card" style="width: 18rem;">
        <img src="{{ product.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{product.desc|truncatechars:10}}</p>
            <a href="{% url 'product_detail' id=product.id %}" class="btn btn-primary">Detail</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock body %}